.programs{
  margin: 80px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program img{
  width: 100%;
  border-radius: 20px;
  display: block;
}

.program{
   flex-basis: 32%;
   position: relative;
   border-radius: 20px;
   box-shadow: 2px 3px black;
}

.caption{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,15,152,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  opacity: 0;
  padding-left: 70%;
  transition: 0.4s;
}

.program:hover .caption{
  opacity: 1;
  padding-left: 0;
  border-radius: 20px;
}

.caption img{
  width: 100px;
  margin-bottom: 10px;
}

/*------Media Query-------*/


@media(max-width:780px){
.programs{
  flex-direction: column;
}
.program{
  flex-basis: 100%;
  margin: 20px;
}
}