
.about{
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

}

.about-left{
  flex-basis: 40%;
  position: relative;
  box-shadow: 2px 2px black;
  border-radius: 20px;
}
.about-right{
  flex-basis: 56%;
}

.about-img{
  width: 100%;
  border-radius: 20px;
}
.playicon-img{
  width: 20%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.about h1{
  font-size: 50px;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.about h3{
  font-size: 30px;
  color: black;
  margin: 10px 0;
  max-width: 700px;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.about p{
  color: black;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

@media(max-width:780px){
  .about{
    flex-direction: column;
  }

  .about-left{
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }
  .about-right{
    flex-basis: 100%;
  }
  }